<!-- templates/change_year.html -->

{% extends 'base.html' %}

{% block tittle %}Change Year{% endblock %}

{% block content %}

<div class="block4">
    <form action="{% url 'change-year' %}" method="get">
        <input class="search" name="q3" type="number" placeholder="Search year...">
            <input class="search2" type="submit" value="Find">
    </form>
</div><br>


<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Year</th>
        <th></th>
    </tr>

    {% for year in year_list %}
        <tr>
            <td>{{ year.id }}</td>
            <td>{{ year.name }}</td>
            <td><a href="edit_year/{{ year.id }}">Change</a> | <a href="delete_year/{{ year.id }}">Delete</a></td>
        </tr>
    {% endfor %}
</table>


<div class="pag">
    {% if year_list.has_other_pages %}
        <ul class="pagination">
            {% if year_list.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ year_list.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ year_list.number }} of {{ year_list.paginator.num_pages }}.
            </span>

            {% if year_list.has_next %}
                <a href="?page={{ year_list.next_page_number }}">next</a>
                <a href="?page={{ year_list.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </ul>
    {% endif %}
</div>
{% endblock %}
