
{% extends 'base.html' %}

{% block tittle %}Change Book{% endblock %}

{% block content %}
<div class="block3"><div>Edit book</div></div><br>

<div class="block1">
    <form method="POST">
        {% csrf_token %}

    <p>
        <label>Введите название книги</label><br>
        <input type="text" name="name" value="{{ book.name }}"/>
    </p>

    <p>
        <label>Выберите автора</label><br>
        <select id="auth" name="author" onChange="redirectUrl()">
            {% for auth in author %}
                <option name="author" value="{{ auth.id }}">
                    {% if auth == current_auth %}selected="selected"{% endif %}>
                    {{ auth.name }}
                </option>
            {% endfor %}
        </select>
    </p>

    <p>
        <label>Выберите жанр</label><br>
        <select id="genre" name="genre" onChange="redirectUrl()">
            {% for g in genre %}
                <option name="genre" value="{{ g.id }}">
                    {% if g == current_g %}selected="selected"{% endif %}>
                    {{ g.name }}
                </option>
            {% endfor %}
        </select>
    </p>

    <p>
        <label>Выберите год публикации</label><br>
        <select id="year" name="year" onChange="redirectUrl()">
            {% for e in year %}
                <option name="year" value="{{ e.id }}">
                    {% if e == current_e %}selected="selected"{% endif %}>
                    {{ e.name }}
                </option>
            {% endfor %}
        </select>
    </p>

        <input type="submit" value="Сохранить">

    </form>
</div><br>
{% endblock %}

